.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
weights/darknet53.conv.74
weights/yolov4.conv.137
__pycache__
checkpoints
video_test/
workingspace/
logs/
.vscode/
.ipynb_checkpoints/
*.xml
*.jpg
*.txt